@font-face {
    font-family: Blippo;
    font-display: swap;
    src: url("./assets/fonts/blippo.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-dom: #d4af37;
    --color-com: #37a0d4;
    --color-drk: #252525;
    --color-bck: #171717;
    --color-bon: #e4e1ce;
    --color-lgt: #d4d1be;

    font-size: 18px;
    font-family: 'Work Sans';
    line-height: 150%;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}