.about {
    gap: 1.5rem;
    min-height: 90dvh;
    color: var(--color-bon);
    background: var(--color-drk);
}

.about-img {
    flex: 1 0 min(25rem, 100%);
    display: none;
    max-width: 30rem;
    aspect-ratio: 1;
    background-image: url('../imgs/about.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 90;
}

.about-content { 
    flex: 1 0 min(25rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 30rem;
    position: relative;
    z-index: 50;
}

.about__title {
    margin-bottom: 4rem;
    color: var(--color-bck);
}

.about__desc {
    max-width: 40rem;
}

@media screen and (min-width: 1400px) {
    .about {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-img {
        display: block;
    }

    .about-content {
        width: 40%;
    }
}