.categories {
    color: var(--color-bck);
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.category {
    flex: 1 0 min(12rem, 100%);
    max-width: 20rem;
    background-color: #d4af3722;
    border-radius: 0.5rem;
    position: relative;
}

.category__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 1rem;
    text-align: center;
}

.category__desc {
    color: var(--color-drk);
    font-size: 0.9rem;
}

.category__icon {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-drk);
    border-radius: 50%;
    position: absolute;
    top: -30%;
    transform: translateY(50%);
}

.categories__button {
    color: var(--color-bck);
    background-color: var(--color-com);
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.categories-brief {
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 1rem 3rem;
    max-width: 100dvw;
    background-color: #d4af3722;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: mandatory;
}

.categories-brief__item {
    text-transform: capitalize;
    scroll-snap-align: center;
    transition: scale 0.5s, padding 0.5s;
}

.categories-brief__item.active {
    font-weight: 700;
    scale: 1.3;
}

@media screen and (min-width: 768px) {
    .categories-brief {
        justify-content: center;
        border-radius: 4rem;
    }
}